mixin ProvinceItems
  .item(data-value='79') TP.Hồ Chí Minh
  .item(data-value='01') Hà Nội
  .item(data-value='48') Đà Nẵng
  .item(data-value='31') Hải Phòng
  .item(data-value='92') Cần Thơ
  .item(data-value='46') Thừa Thiên Huế
  .item(data-value='02') Hà Giang
  .item(data-value='04') Cao Bằng
  .item(data-value='06') Bắc Kạn
  .item(data-value='08') Tuyên Quang
  .item(data-value='10') Lào Cai
  .item(data-value='11') Điện Biên
  .item(data-value='12') Lai Châu
  .item(data-value='14') Sơn La
  .item(data-value='15') Yên Bái
  .item(data-value='17') Hòa Bình
  .item(data-value='19') Thái Nguyên
  .item(data-value='20') Lạng Sơn
  .item(data-value='22') Quảng Ninh
  .item(data-value='24') Bắc Giang
  .item(data-value='25') Phú Thọ
  .item(data-value='26') Vĩnh Phúc
  .item(data-value='27') Bắc Ninh
  .item(data-value='30') Hải Dương
  .item(data-value='33') Hưng Yên
  .item(data-value='34') Thái Bình
  .item(data-value='35') Hà Nam
  .item(data-value='36') Nam Định
  .item(data-value='37') Ninh Bình
  .item(data-value='38') Thanh Hóa
  .item(data-value='40') Nghệ An
  .item(data-value='42') Hà Tĩnh
  .item(data-value='44') Quảng Bình
  .item(data-value='45') Quảng Trị
  .item(data-value='49') Quảng Nam
  .item(data-value='51') Quảng Ngãi
  .item(data-value='52') Bình Định
  .item(data-value='54') Phú Yên
  .item(data-value='56') Khánh Hòa
  .item(data-value='58') Ninh Thuận
  .item(data-value='60') Bình Thuận
  .item(data-value='62') Kon Tum
  .item(data-value='64') Gia Lai
  .item(data-value='66') Đắk Lắk
  .item(data-value='67') Đắk Nông
  .item(data-value='68') Lâm Đồng
  .item(data-value='70') Bình Phước
  .item(data-value='72') Tây Ninh
  .item(data-value='74') Bình Dương
  .item(data-value='75') Đồng Nai
  .item(data-value='77') Bà Rịa - Vũng Tàu
  .item(data-value='80') Long An
  .item(data-value='82') Tiền Giang
  .item(data-value='83') Bến Tre
  .item(data-value='84') Trà Vinh
  .item(data-value='86') Vĩnh Long
  .item(data-value='87') Đồng Tháp
  .item(data-value='89') An Giang
  .item(data-value='91') Kiên Giang
  .item(data-value='93') Hậu Giang
  .item(data-value='94') Sóc Trăng
  .item(data-value='95') Bạc Liêu
  .item(data-value='96') Cà Mau

mixin Province(value, name)
  input#province_name(type='hidden', name='province_name', value=name)
  label Tỉnh / Thành
  .ui.fluid.search.selection.dropdown.province
    input(type='hidden', name='province', value=value)
    i.dropdown.icon
    input.search(autocomplete='off', tabindex='0')
    .default.text Tỉnh / Thành
    .menu
      +ProvinceItems