extends ../layout

block variables
  - var bodyClass = 'has-navigation'

block content
  - console.log(user)
  h1 Limit Permission
  p Please contact Admin
  div
    a.ui.button.default(href='/') Quay về trang chủ