doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    title= `${pageTitle} - 24hVisa CRM`

    - var bodyClass = '';
    - var module = {};
    block variables

    //CSS
    link(rel='stylesheet', type='text/css', href='/assets/libs/semantic/dist/semantic.css')
    link(rel='stylesheet', type='text/css', href='/assets/libs/sweetalert/dist/sweetalert.css')

    if module.plugin && module.plugin.calendar
      link(rel='stylesheet', type='text/css', href='/assets/libs/semantic-ui-calendar/dist/calendar.min.css')
    if (module.type == 'module_list' && module.filterbar == true)
      link(rel='stylesheet', type='text/css', href='/assets/libs/jquery-date-range-picker-master/dist/daterangepicker.min.css')
    block style-plugin

    link(rel='stylesheet', type='text/css', href='/assets/css/admin.css')

    //Javascript
    script(src='/assets/libs/jquery/dist/jquery.min.js')
    script(src='/assets/libs/semantic/dist/semantic.min.js')
    script(src='/assets/libs/sweetalert/dist/sweetalert.min.js')

    if module.plugin && module.plugin.calendar
      script(src='/assets/libs/semantic-ui-calendar/dist/calendar.min.js')
    if (module.type == 'module_list' && module.filterbar == true)
      script(src='/assets/libs/moment/min/moment.min.js')
      script(src='/assets/libs/jquery-date-range-picker-master/dist/jquery.daterangepicker.min.js')

    block script-plugin

    script(src='/assets/js/admin.js')

  body(class=bodyClass ? `page ${bodyClass}` : 'page has-navigation')

    if module.type == 'bill_create'
      block print

    include mixins/form
    include mixins/messages
    include mixins/zerodata

    // MENU
    include partials/menu

    #navigation.heading
      include mixins/navigation
      if module.type == 'module_create'
        - headText = module.editing ? 'Cập nhật' : 'Thêm mới'
        +Breadcrumb({
            parent: {url: `/${module.slug}`, title: module.label},
            current: {title: headText}
            })
        +FormButton({text: headText, className: module.editing ? 'primary' : ''})
      block navigation

    block filterbar

    // PAGE CONTENT HERE
    .ui.container.fluid.main-wrap
      block content