extends ../../dashboard/view/layout

block variables
  -
    var module = loadFeature('_module');
    module.type = 'module_create';
    module.plugin = {calendar: true};
    module.editing = !!_data._id;

block content

  +messages

  form.ui.form.create-module#main-form(class= module.editing ? 'editing' : '', method='post')
    +_csrf
    .ui.error.message.pt0
    .fields
      .field.wide.five.hideonsmall
        h3 Thông tin chung
      .field.wide.eleven
        .fields
          // Tên - fullname
          +Input({
              name:'name',
              label: 'Tên',
              className: 'wide ten required',
              value: _data.name
          })
    .ui.divider

  .pull-left.mb10(style='width: 100%;')
    .pull-left
      p * : Bắt buộc
    if (module.editing)
      .pull-right
        form(method='post', action=`/${module.slug}/${_data._id}/delete`)
          +_csrf
          button.ui.mini.button.red Xóa