.ui.menu.inverted.fixed.teal
  a.header.item(href='/dashboard') 24hVisa
  .ui.dropdown.item
    | Hóa đơn
    .menu
      a.item(href='/bills') Quản lý hóa đơn
      a.item(href='/bills/create') Tạo hóa đơn
      a.item(href='/bills/settings') Cài đặt hóa đơn
  .ui.dropdown.item
    | Sản phẩm
    .menu
      a.item(href='/products') Quản lý Sản phẩm
      a.item(href='/products/create') Thêm Sản phẩm
      a.item(href='/products/settings') Cài đặt Sản phẩm
  .ui.dropdown.item
    | Khách hàng
    .menu
      a.item(href='/customers') Quản lý Khách hàng
      a.item(href='/customers/create') Thêm Khách hàng
  .ui.dropdown.item
    | Nhân sự
    .menu
      a.item(href='/users') Quản lý nhân sự
      a.item(href='/users/create') Thêm nhân sự
      a.item(href='/roles') Quản lý quền
  .ui.dropdown.item
    | Chi nhánh
    .menu
      a.item(href='/branches') Quản lý chi nhánh
      a.item(href='/branches/create') Thêm chi nhánh
  .ui.dropdown.item
    | Cài đặt
    .menu
      a.item(href='/taxonomies?module=dashboard&type=shortcut') Cài đặt phím tắt
      a.item(href='/logs') Xem nhật kí người dùng

  .right.menu
    .ui.dropdown.item
      = logged_user.fullname
      i.icon.caret.down
      .menu
        a.item(href=`/users/${logged_user.id}/edit`) Thông tin
        a.item(href=`/users/${logged_user.id}/edit`) Cài đặt
        a.item(href=`/users/${logged_user.id}/edit`) Đổi mật khẩu
        .divider
        a.item(href='/authenticate/logout') Đăng xuất